html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calculadora
    body
        h3= "Elige un número"
        form(action="jugar", method="POST")
            input(type="number",name="numero")
            input(type="submit",value="Aceptar")